//- extends ../templates/index.jade
extends ./index.jade

block buy
  //- This form uses action='/' to POST all the form data to the root page (i.e. the '/')

  h2 Stock Details STOCKPILE:
  //- Oh Jade! You have an iterator for me. For each val (some variable) located in stocks ()
  each val in stocks
    p Symbol: #{val.symbol}
    p Company Name: #{val.name}
    p Price: #{val.price}
    p Quantity: #{val.qty}
