doctype html
//- ~? A jade template with blocks useful for extends. The extensions are useful for placing in new information on demand. Much like a single page front-end app.
html
  head
    block title
      title= title
      link(rel="stylesheet", href="/styles/main.css")
  body
    nav

    block content

  footer
    block footer
